<div class="details">
    <div class="details__no-selection" *ngIf="!this.isEmployeeSelected;else employeeDetails">
        Please select an Employee
    </div>
    <ng-template #employeeDetails>
        <div class="details__employee-data">
            <div class="details__actions">
                <button class="details__edit-save-button" (click)="editSaveEmployee(employee?.id)">
                    <fa-icon *ngIf="editMode$ | async" [icon]="['fas', 'save']"></fa-icon>
                    <fa-icon *ngIf="!(editMode$ | async)" [icon]="['fas', 'pencil-alt']"></fa-icon>
                </button>
                <button class="details__delete-button" (click)="deleteEmployee(employee?.id)">
                    <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
                </button>
            </div>

            <div *ngIf="!(editMode$ | async)">
                <div class="details__basic-data">
                    <div class="details__image-box">
                        <img class="details__employee-image" />
                    </div>
                    <div class="details__data-box">
                        <div class="details__employee-name">
                            {{ employee?.name }}
                        </div>
                        <div class="details__employee-job">
                            {{ employee?.job }} at Thynk Software
                        </div>
                    </div>
                </div>
                <div class="details__aditional-data">
                    <div class="details__data-box">
                        <div class="details__aditional-data-item">
                            <span class="details__aditional-data-label">Motto</span>
                            {{ employee?.motto }}
                        </div>
                        <div class="details__aditional-data-item">
                            <span class="details__aditional-data-label">Hobbies</span>
                            {{ employee?.hobbies }}
                        </div>
                        <div class="details__aditional-data-item">
                            <span class="details__aditional-data-label">Hometown</span>
                            {{ employee?.hometown }}
                        </div>
                        <div class="details__aditional-data-item">
                            <span class="details__aditional-data-label">Personal Blog</span>
                            {{ employee?.personalBlog }}
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="editMode$ | async">
                <form *ngIf="employeeForm && employeeForm.form" [formGroup]="employeeForm.form" novalidate>
                    <div class="details__basic-data">
                        <div class="details__image-box">
                            <img class="details__employee-image" />
                            <button class="details__edit-image-icon">
                                <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
                            </button>
                        </div>
                        <div class="details__data-box">
                            <div *ngIf="!employeeForm.form.valid">
                                {{ formError}}
                            </div>
                            <div class="details__employee-name">
                                <input class="details__input details__input--big" type="text" formControlName="name"
                                    placeholder="Name">
                            </div>
                            <div class="details____employee-job">
                                <input class="details__input" type="text" formControlName="job" placeholder="Job">
                            </div>
                        </div>

                    </div>
                    <div class="details__aditional-data">
                        <div class="details__data-box">
                            <div class="details__aditional-data-item">
                                <span class="details__aditional-data-label">Motto</span>
                                <input class="details__input" type="text" formControlName="motto">
                            </div>
                            <div class="details__aditional-data-item">
                                <span class="details__aditional-data-label">Hobbies</span>
                                <input class="details__input" type="text" formControlName="hobbies">
                            </div>
                            <div class="details__aditional-data-item">
                                <span class="details__aditional-data-label">Hometown</span>
                                <input class="details__input" type="text" formControlName="hometown">
                            </div>
                            <div class="details__aditional-data-item">
                                <span class="details__aditional-data-label">Personal Blog</span>
                                <input class="details__input" type="text" formControlName="personalBlog">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ng-template>
</div>