<div class="details">
    <div class="details__no-selection" *ngIf="isUndefinedOrEmpty(employee);else employeeDetails">
        Please select an Employee
    </div>
    <ng-template #employeeDetails>
        <div class="details__employee-data">
            <div class="details__actions">
                <button class="details__edit-save-button" (click)="editEmployee(employee?.id)">
                    <fa-icon *ngIf="editMode$ | async" [icon]="['fas', 'save']"></fa-icon>
                    <fa-icon *ngIf="!(editMode$ | async)" [icon]="['fas', 'pencil-alt']"></fa-icon>
                </button>
                <button class="details__delete-button" (click)="deleteEmployee(employee?.id)">
                    <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
                </button>
            </div>

            <div class="details__basic-data">
                <div class="details__image-box">
                    <img class="details__employee-image" />
                </div>
                <div class="details__data-box">
                    <div class="details__employee-name">
                        {{ employee?.name }}
                    </div>
                    <div class="details__employee-role">
                        {{ employee?.name }} at Thynk Software
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>